@media print {
	div#egw_fw_sidebar_r {display: none;}
}
div#egw_fw_sidebar_r {
    position: fixed;
    background: white;
    width: 50px;
    right: 0;
    height: ~"calc(100% - 60px)";
    top: 43px;
    border-left: 1px solid #b4b4b4;
	border-top: 1px solid #b4b4b4;
	overflow-y: auto;
}

#egw_fw_main {
	margin-right: 53px;
}
#egw_fw_sidebar_r tr.row td {
	position: relative;
}

tr span.stat0 {
	width: 15px;
    height: 15px;
    position: absolute;
    left: 0px;
    border-radius: 50%;
    z-index: 100000;
    background-size: 15px;
    background-repeat: no-repeat;
}

tr span.stat1 {
	width: 15px;
    height: 15px;
    position: absolute;
    left: 0px;
	bottom: 0px;
    border-radius: 50%;
    z-index: 100000;
    background-size: 15px;
    background-repeat: no-repeat;
}

tr span.stat2 {
	width: 15px;
    height: 15px;
    position: absolute;
    right: 0px;
	top: 0px;
    border-radius: 50%;
    z-index: 100000;
    background-size: 15px;
    background-repeat: no-repeat;
}

tr span.stat3 {
	width: 15px;
    height: 15px;
    position: absolute;
    right: 0px;
	bottom: 0px;
    border-radius: 50%;
    z-index: 100000;
    background-size: 15px;
    background-repeat: no-repeat;
}
tr.egw_online_false {
	opacity: 0.5;
}

tr.egw_online_true {
	opacity: 1;
}
#status-index_fav {
	background-color: #f0f7ff;
	border-bottom: 5px solid #2c4760;
}

#status-index_status-index-list tr.row div.et2_hbox,
#status-index_status-index-fav tr.row div.et2_hbox{
	display: inline-block;
}
#status-index_status-index-fav tr.row .avatar,
#status-index_status-index-list tr.row .avatar  {
	width: 40px;
	height: 40px;
}
#status-index_status-index-fav tr.row .avatar img,
#status-index_status-index-list tr.row .avatar img {
	height: auto;
	width: 40px;
}

#egw_fw_sidebar_r::-webkit-scrollbar {
    width: 1px;
}
.fav_placeholder {
	height: 40px;
	background: silver;
}

#emptyrow {display: none;}

#status-index_status-index-fav #status-index_fav td.iphoto img {
    margin-top: 5px;
}