egw-app#status {
  /* Status is usually so small, shrink the spinner */
}
egw-app#status::part(spinner) {
  font-size: 3rem;
  --track-width: 0.5rem;
}
egw-app#status #status-index_status-index {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  right: 0.1px;
}
egw-app#status #status-index_status-index::-webkit-scrollbar {
  width: 1px;
}
@media print {
  egw-app#status {
    display: none;
  }
}
egw-app#status #status-index_status-index > et2-vbox::part(base) {
  gap: 0px;
}
egw-app#status #status-index_status-index tr.row td > et2-hbox {
  position: relative;
}
egw-app#status tr et2-description[class*="stat"] {
  justify-content: center;
  width: 14px;
  height: 14px;
  position: absolute;
  border-radius: 50%;
  z-index: 10;
  background-repeat: no-repeat;
}
egw-app#status tr et2-description[class*="stat"] span[part="content"] {
  position: relative;
  top: 1px;
}
egw-app#status tr et2-description[class*="stat"].stat0 {
  left: 0px;
  background-size: 13px;
}
egw-app#status tr et2-description[class*="stat"].stat1 {
  left: 0px;
  bottom: 0px;
  background-size: 14px;
  color: var(--sl-color-neutral-950);
  font-weight: bold;
  text-align: center;
  font-size: 10px;
  line-height: 14px;
}
egw-app#status tr et2-description[class*="stat"].stat2 {
  right: 0px;
  top: 0px;
  z-index: 100000;
  background-size: 13px;
}
egw-app#status tr et2-description[class*="stat"].stat3 {
  right: 0px;
  bottom: 0px;
  z-index: 100000;
  background-size: 15px;
}
egw-app#status tr.egw_offline {
  opacity: 0.3;
}
egw-app#status tr.egw_online {
  opacity: 1;
}
egw-app#status #status-index_status-index-fav {
  border-bottom: 4px solid var(--sl-color-gray-400);
}
egw-app#status #status-index_status-index-fav .favicon_container {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}
egw-app#status #status-index_status-index-fav .favicon_container et2-image.iphoto {
  display: flex;
  align-items: center;
  font-size: 28px;
}
egw-app#status #status-index_status-index-list et2-lavatar,
egw-app#status #status-index_status-index-fav et2-lavatar {
  display: flex;
  justify-content: center;
}
egw-app#status #status-index_status-index-list tr.row .online,
egw-app#status #status-index_status-index-fav tr.row .online {
  background-color: var(--sl-color-emerald-400);
  color: black;
}
egw-app#status #status-index_status-index-list tr.row .away,
egw-app#status #status-index_status-index-fav tr.row .away {
  background-color: var(--sl-color-yellow-400);
  color: black;
}
egw-app#status #status-index_status-index-list tr.row .busy,
egw-app#status #status-index_status-index-fav tr.row .busy {
  background-color: var(--sl-color-red-400);
  color: white;
}
egw-app#status #status-index_status-index-list tr.row .offline,
egw-app#status #status-index_status-index-fav tr.row .offline {
  background-color: var(--sl-color-gray-300);
  color: black;
}
egw-app#status #status-index_status-index-list tr.row .room,
egw-app#status #status-index_status-index-fav tr.row .room {
  background-color: var(--sl-color-gray-900);
  color: white;
}
egw-app#status #status-index_status-index-list tr.row .online,
egw-app#status #status-index_status-index-fav tr.row .online,
egw-app#status #status-index_status-index-list tr.row .away,
egw-app#status #status-index_status-index-fav tr.row .away,
egw-app#status #status-index_status-index-list tr.row .busy,
egw-app#status #status-index_status-index-fav tr.row .busy,
egw-app#status #status-index_status-index-list tr.row .offline,
egw-app#status #status-index_status-index-fav tr.row .offline,
egw-app#status #status-index_status-index-list tr.row .room,
egw-app#status #status-index_status-index-fav tr.row .room {
  border: 2px solid var(--sl-color-sky-100);
}
egw-app#status #status-index_status-index-fav tr.row .avatar,
egw-app#status #status-index_status-index-list tr.row .avatar,
egw-app#status #_list .avatar {
  width: 40px;
  height: 40px;
}
egw-app#status #status-index_status-index-fav tr.row .avatar img,
egw-app#status #status-index_status-index-list tr.row .avatar img,
egw-app#status #_list .avatar img {
  width: 40px;
  height: auto;
}
egw-app#status #_list .avatar {
  display: inline-block;
}
egw-app#status .on-phone {
  background: var(--sl-color-red-400);
  border: 2px solid var(--sl-color-sky-100);
}
egw-app#status .on-phone:before {
  content: ' ';
  background-image: url(../../../node_modules/bootstrap-icons/icons/telephone.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  display: inline-block;
  height: 100%;
  width: 100%;
  opacity: 1;
  transform: rotate(80deg);
  filter: brightness(0) invert(0);
}
egw-app#status #call,
egw-app#status #status_call,
egw-app#status #scheduled_call {
  min-width: 200px;
  min-height: 200px;
}
egw-app#status::part(app-header) {
  display: none;
}
egw-app#status et2-lavatar {
  --size: var(--icon-size, 40px);
}
#status-room .dialogHeader::part(base) {
  align-items: center;
}
#status-room .frame_parent {
  flex: 1 1 auto;
}
#status-room .countdown-dialog td.timer {
  height: 100%;
}
#status-room .countdown-dialog td.timer .et2_label {
  line-height: 50px;
  font-size: 11pt;
  text-align: center;
}
#status-room .countdown-dialog td.timer .et2_countdown {
  font-size: 50pt;
  display: flex;
  align-items: center;
  justify-content: center;
}
#status-room .countdown-dialog td.timer #status-room_join {
  background-position: 45% center;
  height: 40px;
  width: calc(100% - 6px);
  margin-left: 10px;
}
#status-room tr.error_msg .et2_label {
  background: var(--sl-color-red-50);
  line-height: 50px;
  font-size: 11pt;
  display: inline-block;
  text-align: center;
}
div.recievedCall .ui-widget-content {
  display: block !important;
  width: auto !important;
  min-height: 0 !important;
  height: auto !important;
  padding: 0;
}
div.recievedCall .ui-widget-content .et2_grid {
  width: 100% !important;
  margin: 0;
}
div.recievedCall .ui-widget-content .avatar {
  border-color: white;
  width: 80px !important;
  height: 80px !important;
  margin-right: 10px;
  display: inline;
  vertical-align: middle;
}
div.recievedCall .ui-widget-content .tile .et2_label {
  vertical-align: middle;
  font-size: 150%;
  display: inline;
}
div.recievedCall .ui-dialog-buttonset {
  padding-left: 0.8em !important;
}
div.recievedCall .et2_vbox.et2_box_widget.ui-dialog-content {
  padding-left: 0.5em;
}
.fav_placeholder {
  height: 40px;
  background: silver;
}
#emptyrow {
  display: none;
}
td.taglist_readonly .et2_taglist > div.ms-ctn {
  border: none;
}
.missed-call {
  background-image: url(../../../api/templates/default/images/hangup.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  font-size: 0;
  border: 2px solid #f0f7fe;
  width: 14px;
  height: 14px;
  position: absolute;
  border-radius: 50%;
  z-index: 100000;
  background-size: 14px;
}
